/*general css for all webpages*/
.grid-container {
  display: grid;
  grid-template-columns: 250px auto auto;
  grid-template-areas:
  'header header header'
  'nav nav nav'
  'sidebar main main'
  'footer footer footer';
}

body, div, section, nav, main {
	outline-offset: -1px;
	margin:0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*remove the underline style in hyperlink*/
a:link {
  text-decoration: none;
}

/*make the scroll invisible*/
::-webkit-Scrollbar{
	width:0px;
}

body {
background-image: url("./images/wonderworld3.jpeg");
background-size: cover;
}

body a{
	color:black;
}

/* header part*/
header {
	grid-area: header;
	height:100%;
}

#parkhours {
	padding: 20px 0;
	font-size: small;
	text-align: center;
	float:left;
	width:250px;
	height:100%;
}
	
#title {
	text-align: center;
	float:left;
	width:calc(100% - 400px);
	height:100%;
	max-height:100px;
}

#logo {
	outline: none;
	top: 0px;
	float:left;
	height:100%;
}

#logo img{
	float:left;
    height: 100%;
}

#socialmedia {
	padding: 20px 0;	
	float:left;
	width:150px;
	height:50px;
}

.socialmedia_icon img{
	float:left;
	max-width: calc(100%/3);
    max-height: 100%;
}

/* Where home, language, accessibility, jobs, and contact Us is just below main header bar */
#topnavigationbar{
	grid-area: nav;
	text-align: center;
	height:auto;
	background-color:rgba(145,200,228,0.8);
	border: 1px solid #aaa;
}

#topnavigationbar a{
	margin:0px 4%;
	height:30px;
	font-size:1.2em;
	color:black;
}

/* main section of page */
main{
	grid-area: main;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: calc(100vh - 120px); /*view height - header - Top Nav Bar*/
	overflow-y: scroll;
	background-color:rgba(255,255,255,0.7);
	color:black;
	border: 1px solid #aaa;
	}

/* sidebar or aside */
#sidebar {
	grid-area: sidebar;
	border: 1px solid #aaa;
	height: calc(100vh - 120px); /*view height - header - Top Nav Bar*/
	padding: 0px;
	overflow-y: scroll;
	background-color:rgba(255,255,255,0.7);
	color:black;
}

#sidebar div{
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 5px;
}

/*Sidebar(aside) plan a trip */
.List_sidebar {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}
.List_sidebar a{
	color:black;
}

.List_sidebar li{
	margin-bottom: 10px;
}

/* Things to do */
.List_sidebar_subbullet {
	list-style: circle;
	padding: 0px;
	margin-left: 40px;
}

/*css for main section in jobs.html*/
.grid-container_job {
  display: grid;
  grid-template-columns: 350px auto auto;
  grid-template-areas:
  'header header header'
  'nav nav nav'
  'sidebar main main'
  'footer footer footer';
}

#job_details button{
	padding: 12px 30px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin: 8px 10px;
	cursor: pointer;
	border-radius:7px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#job_details h1{
	text-align:center;
	margin-bottom:0px;
}

#job_details h2{
	padding-left: 15px;
	margin-bottom:0px;
}

#job_details p, #job_details li{
	padding-left: 15px;
	padding-right: 15px;
	text-align:justify;
}

/* sidebar in jobs.html */
#sidebar_job {
	border: 1px solid #aaa;
	grid-area: sidebar;
	height: calc(100vh - 120px); /*view height - header - Top Nav Bar*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0px;
	overflow-y: scroll;
	background-color:rgba(255,255,255,0.7);
	color:black;
}

#sidebar_job a{
	color:black;
}

#sidebar_job h2 {
	text-align: center;
}

#sidebar_job div{
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 5px;
}

#sidebar_job ul{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	list-style: none;
}

#sidebar_job li{
	padding: 0px;
	padding-left: 2em;
	margin-right: 5px;
	margin-bottom: 3px;
	list-style-position: inside;
	list-style-type: circle;
	text-indent: -1.3em;
	text-align: left;
}

/* footer lists */
footer {
	grid-area: footer;
	margin:0px auto;
}

footer a{
	color:black;
}

.List_footer *{
	list-style: none;
	padding: 0px;
	
}

.List_footer {
	float:left;
	margin: 0px 20px;
}

.List_footer_subbullet li{
	text-align: left;
}

.slideshow_news_container {
	position: relative;
	max-height:calc(95vh - 120px);
	width:95%;
	margin: auto;
}

.slideshow_news{
	position: relative;
	width:100%;
	max-height:calc(95vh - 120px);
}

.slideshow_news img{
	position: relative;
	width:100%;
	max-height:calc(95vh - 120px);
	object-fit:cover;
	border-radius: 20px;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.previous_pic, .next_pic {
	display: flex;
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding:0px 30px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 20px 3px 3px 20px;
	user-select: none;
	cursor: pointer;
	align-items:center;
}

.next_pic {
	right: 0;
	border-radius: 3px 20px 20px 3px;
}

.previous_pic:hover, .next_pic:hover {
  background-color: rgba(0,0,0,0.6);
}

.slideshow_text{
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 0px;
	padding: 10px 30px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: rgba(0,0,0);
	border-radius: 0px 0px 20px 20px;
	user-select: none;
	z-index:2;
}

.slideshow_detail{
	position: absolute;
	left: 0px;
	right:0px;
	top: 0px;
	height:0px;
	padding: 0px 20px;
	text-align:justify;
	font-size: 24px;
	color: white;
	background-color: rgba(0,0,0);
	border-radius: 20px 20px 0px 0px;
	user-select: none;
	z-index:2;
	overflow: hidden;
	transition: .5s ease;
}

.slideshow_news:hover .slideshow_detail{
	padding: 10px 20px;
	height: auto;
}
