body, div, section, nav, main {
	outline-offset: -1px;
	margin:0px;
}
header {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width:100%;
	height:100px;
}

#parkhours {
	outline: 1px solid #aaa;
	font-family: sans-serif;
	font-size: x-small;
	text-align: center;
	float:left;
	width:20%;
	height:100%;
}
	
#title {
	outline: 1px solid #aaa;
	text-align: center;
	float:left;
	width:60%;
	height:100%;
}

#logo {
	outline: none;
	position: absolute;
	top: 0px;
	left: 300px;
}


#socialmedia {
	position: absolute;
	left: 1150px;	
	float:left;
	width:20%;
	height:100%;
}

#youtube {
	position: absolute;
	top: 30px;
	left: 10px;
}

#Instagram {
	position: absolute;
	top: 30px;
	left: 50px;
}

#Twitter {
	position: absolute;
	top: 30px;
	left: 90px;
}

/* Where home, language, accessibility, jobs, and contact Us is just below main header bar */
#topnavigationbar{
	outline: 1px solid #aaa;
	text-align: center;
	height:30px;
}

/* main section of page */
main{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: fixed;
	left: 250px;
	}

/* sidebar or aside */
#sidebar {
	outline: 1px solid #aaa;
	float:left;
	width:240px;
	height: 335px;
}
	/*Sidebar(aside) plan a trip */
.List_1 {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}
/* Things to do */
.List_2 {
	list-style: circle;
	padding: 0px;
	margin-left: 15px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
/* footer lists */
.planatrip {
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-left: 40px;
}

.List_3 {	
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-left: 0px;
}

.directions {
	list-style: none;
	text-align: left;	
	padding: 0px;
	margin-top: -100px;
	margin-left: 285px;
}

.tickets {	
	list-style: none;
	text-align: left;
	padding: 0px;
	margin-top: -35px;
	margin-left: 525px;
}

.thingstodo {	
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-top: -43px;
	margin-left: 850px;
}

.List_4 {
	list-style: none;
	padding: 10px;
	margin-left: 0px;
}

.news {
	list-style: none;
	padding: 10px;
	margin-top: -182px;
	margin-left: 1100px;
}