body, div, section, nav, main {
	outline: 1px solid #aaa;
	outline-offset: -1px;
	margin:0px;
}
header {
	width:100%;
	height:100px;
}

#parkhours {
	float:left;
	width:20%;
	height:100%;
}
	
#title {
	float:left;
	width:60%;
	height:100%;
}

#socialmedia {
	float:left;
	width:20%;
	height:100%;
}

#topnavigationbar{
	text-align: center;
	height:30px;
}

section {
	float:left;
	width:100%;
	height:100%;
}
	
#sidebar {
	float:left;
	width:250px;
}
	
.List_1 {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}

.List_2 {
	list-style: circle;
	padding: 0px;
	margin-left: 15px;
}

main {
	float:left;
	width: calc(100% - 250px);
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 234px; /* Height of the footer */
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 234px; /* Height of the footer */
}

.planatrip {
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-left: 40px;
}

.List_3 {	
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-left: 0px;
}

.directions {
	list-style: none;
	text-align: left;	
	padding: 0px;
	margin-top: -100px;
	margin-left: 285px;
}

.tickets {	
	list-style: none;
	text-align: left;
	padding: 0px;
	margin-top: -35px;
	margin-left: 525px;
}

.thingstodo {	
	list-style: none;
	text-align: left;
	padding: 10px;
	margin-top: -43px;
	margin-left: 850px;
}

.List_4 {
	list-style: none;
	padding: 10px;
	margin-left: 0px;
}

.news {
	list-style: none;
	padding: 10px;
	margin-top: -182px;
	margin-left: 1100px;
}